<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Picpay_Payment>
            <version>0.1.0</version>
        </Picpay_Payment>
    </modules>
    <frontend>
        <routers>
            <picpay_payment>
                <use>standard</use>
                <args>
                    <module>Picpay_Payment</module>
                    <frontName>picpay</frontName>
                </args>
            </picpay_payment>
        </routers>
        <layout>
            <updates>
                <picpay_payment>
                    <file>picpay.xml</file>
                </picpay_payment>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <picpay_payment>
                <class>Picpay_Payment_Helper</class>
            </picpay_payment>
        </helpers>
        <blocks>
            <picpay_payment>
                <class>Picpay_Payment_Block</class>
            </picpay_payment>
        </blocks>
        <models>
            <picpay_payment>
                <class>Picpay_Payment_Model</class>
                <resourceModel>picpay_payment_resource</resourceModel>
            </picpay_payment>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Picpay_Payment>
                    <files>
                        <default>Picpay_Payment.csv</default>
                    </files>
                </Picpay_Payment>
            </modules>
        </translate>
        <events>
            <sales_order_creditmemo_save_after>
                <observers>
                    <picpay_payment_sales_order_creditmemo_save_after>
                        <type>model</type>
                        <class>picpay_payment/observer</class>
                        <method>refundTransaction</method>
                    </picpay_payment_sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </adminhtml>
    <default>
        <payment>
            <picpay_standard>
                <active>0</active>
                <model>picpay_payment/standard</model>
                <title>Picpay</title>
                <mode>2</mode>
                <allowspecific>0</allowspecific>
                <notification>1</notification>
                <use_custom_form>0</use_custom_form>
                <order_status>pending</order_status>
                <customer_cpf_attribute>customer|taxvat</customer_cpf_attribute>
                <address_telephone_attribute>telephone</address_telephone_attribute>
                <api_url>https://appws.picpay.com/ecommerce/public</api_url>
            </picpay_standard>
        </payment>
    </default>
</config>