<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Picpay_Payment>
            <version>0.1.0</version>
        </Picpay_Payment>
    </modules>
    <frontend>
        <routers>
            <payment>
                <use>standard</use>
                <args>
                    <module>Picpay_Payment</module>
                    <frontName>picpay</frontName>
                </args>
            </payment>
        </routers>
        <layout>
            <updates>
                <payment>
                    <file>picpay.xml</file>
                </payment>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <payment>
                <class>Picpay_Payment_Helper</class>
            </payment>
        </helpers>
        <blocks>
            <payment>
                <class>Picpay_Payment_Block</class>
            </payment>
        </blocks>
    </global>
    <default>
        <payment>
            <paybras>
                <active>0</active>
                <model>picpay/standard</model>
                <title>Picpay</title>
                <environment>0</environment>
                <allowspecific>0</allowspecific>
                <notification>1</notification>
                <use_custom_form>0</use_custom_form>
            </paybras>
        </payment>
    </default>
</config>